.cm-ySelectionCaret {
	position: absolute;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin-left: -1px;
	margin-right: -1px;
	box-sizing: border-box;
	display: inline;
}

.cm-ySelectionCaretDot {
	top: 0;
	border-radius: 50%;
	position: absolute;
	width: 0.4em;
	height: 0.4em;
	background-color: inherit;
	transition: opacity 0.3s;
	transform: translate(-50%, -50%);
	opacity: 1;
}

.cm-ySelectionCaret.caret-hover > .cm-ySelectionCaretDot {
	opacity: 0;
}

.cm-ySelectionInfo {
	position: absolute;
	top: 0;
	font-size: 0.7em;
	line-height: 1.4;
	user-select: none;
	color: white;
	z-index: 101;
	transition: opacity 0.3s;
	background-color: inherit;
	border-radius: 2px 2px 2px 0;
	opacity: 0;
	white-space: nowrap;
	padding: 0 5px;
	-webkit-font-smoothing: antialiased;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	transform: translate(-1px, -100%);
}

.cm-ySelectionCaret.caret-hover > .cm-ySelectionInfo {
	opacity: 1;
}
